<html lang="en">

<head>
	<meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>

	<!-- Compiled and compressed version of Bootstrap CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- You can update version. More information: http://getbootstrap.com/-->
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Compiled and compressed version of JavaScript Bootstrap -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<title> Sinatra project</title>
</head>

<body>
	<%= yield %>
</body>

</html>